footer.st-footer
  a.to-top.isHide(href="#")

  .inner
    nav
      figure
        .logo
          a(href)
            img(src="/assets/img/group_logo.svg" viewBox="0 0 147 17" title="Seibu Group でかける人を、ほほえむ人へ。")
