extends /_template/_pagebase

block var
  - var pageTitle = "エラー";
  - var pageDescription = 'チャージが完了できませんでした';
  - var pageClass = 'error';
  
block content
  section.inner
    h1.page-title チャージが完了できませんでした
    .contents
      .mod-box(data-type="warn")
        .inner
          .title 注意事項
          .text 現在、アクセス集中またはメンテナンスのため、一時的にサービスをご利用いただけません。大変申し訳ございませんが、しばらく時間をあけて操作をお試しください。 (エラーコード:8001)

      .button-wrap
        .button(data-type="large back fill" onclick="PASMOPoint.error('現在、アクセス集中またはメンテナンスのため、一時的にサービスをご利用いただけません。大変申し訳ございませんが、しばらく時間をあけて操作をお試しください。')")
          span 戻る