extends /_template/_pagebase

block var
  - var pageTitle = "ポイントチャージ完了";
  - var pageDescription = 'ポイントチャージ完了';
  
block content
  .inner
    .contents
      .loading
        .icon
          div
          div
          div

        | 通信中