extends /_template/_pagebase

block var
  - var pageTitle = "ポイントチャージ完了";
  - var pageDescription = 'ポイントチャージ完了';
  
block content
  section.inner
    h1.page-title ポイントチャージ完了
    .contents
      .bold.middle.text.mt-16 ポイントチャージが完了しました。

    .button-wrap
      .button(data-type="large back fill" onclick="PASMOPoint.error('エラーが発生しました。ポイントチャージ処理を終了します。')")
        span 戻る